<%= render "layouts/errors", :object => @product%>

<h2><%= @product.name %></h2>

<%= render "layouts/product_form", :object => @product %>

<%= button_to 'Back to the product.', product_path(@product), :method => "get", class: 'btn btn-primary'  %><br>