<h1> Welcome to Mario's Mega-Mart!</h1>
<h3> Est. 1983 / Family-Owned and Operated</h3>

<h3>Newest reviews!<h3>

<% reviews = Review.recent_reviews %>
<ol>
  <% reviews.each do |review|%>
    <li>
    <% product= Product.find((review.product_id).to_i) %>
    <p><%= product.name %><br>
    - <%= link_to review.title, product_review_path(review.product_id, review.id) %>
    </li>
  <% end %>
</ol>