
<h2>Here is a current list of products available at Mario's.</h2>
<h3>Click on one for more details.</h3><br>

<% if @products.any? %>
<% products = @products.sort_by { |k| k[:name] } %>
  <div class="row row-cols-1 row-cols-md-3">
    <% products.each do |product| %>
      <a href='/products/<%= "#{product.id}"%>'>
        <div class="col-md-2">
            <div class="card-body">
              <p class="card-title"> <%= product.name %></p>
              <p class="card-text">Price: $<%= product.cost %></p>
            </div>
        </div>
      </a>
    <% end %>
  </div>

<% else %>
  <p>There are no products yet.</p>
<% end %>


<% if current_user&.admin %>
<%= button_to "Add a new product", new_product_path, :method => "get", class: "btn btn-primary" %><br>
<% end %>