<h1>Add a new Product!</h1>

<%= render "layouts/product_form", :object => @product %>

<br><%= button_to 'Back to our product catalogue.', products_path, :method => "get", class: 'btn btn-danger'  %><br>